.input-wrapper {
  width: 100%;
  position: relative;

  &--small .input {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
  }

  &--medium .input {
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }

  &--large .input {
    font-size: 1.125rem;
    padding: 1rem 1.25rem;
  }
}

.input-field {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--neutral-border);
  border-radius: 0.375rem;
  background-color: var(--input-bg);
  transition:
    border-color 0.2s,
    box-shadow 0.2s;

  &--focused {
    border-color: var(--primary-bg);
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.15);
  }

  &--error {
    border-color: red;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1);
  }

  &--disabled {
    background-color: var(--disabled-bg);
    pointer-events: none;
    opacity: 0.6;
  }
}

.input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem 0.75rem 0.25rem;
  font-size: inherit;
  color: var(--body-text);
}

.input-label {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--input-placeholder);
  transition: all 0.2s ease;
  pointer-events: none;
  background-color: var(--input-bg);

  &--floating {
    top: 0%;
    font-size: 0.75rem;
    padding: 0px 2px;
  }

  &--focused {
    color: var(--primary-bg);
  }

  &--error {
    color: red;
  }
}

.input-error-text {
  font-size: 0.75rem;
  color: red;
  margin-top: 0.25rem;
}
